.vitamin{
  background-color: #490909;
  width: 100%;
  height: calc(100vh - 103px);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 150px;
  color: #653232;
  text-shadow: #a57878 5px 5px 5px;
}