.avaz{
    background-color: peru;
    width: 600px;
    height: 960px;
    margin: auto;
}
.palm{
    background-image: url("../assets/images/palm.png");
    background-size: 60px;
    width: 500px;
    height: 70px;
    background-repeat: no-repeat;
    margin: 10px;

}
.poez {
    background-color: seagreen;
    width: 560px;
    height: 30px;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 7px;
    color: white;
}
.sevuk{
    color: darkgray;
}
.chunchurik{
    background-image: url("../assets/images/cik.jpg");
    background-repeat: no-repeat;
    background-size: 570px;
    width: 600px;
    height: 300px;
    margin: 15px;
    color: darkslategray;
}

#sound{
    color: darkslategray;
    width: 570px;
    display: flex;
    justify-content:end;
    align-items:end;

}

.summer{
    width: 550px;
    margin: 15px;
}

.hhh{
    color: darkslategray;
}
.tadam{
    display: flex;
}
.divan{
    background-color: honeydew;
    width: 370px;
    display:flex;
    flex-direction: column;
    margin: 15px;

}
.bazkator{
    background-image: url("../assets/images/ocean.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 180px;
    height: 50px;
    margin: 15px;
    padding: 10px;
    display: flex;
    align-items: center;
    color: white;
}

.bazkator2{
    background-image: url("../assets/images/ship.jpg");
    background-size: cover;
    width: 180px;
    height: 50px;
    margin: 15px;
    padding: 10px;
    display: flex;
    align-items: center;
    color: white;
}
.divan2{
    background-color: honeydew;
    width: 350px;
    height: 80px;
    margin: 15px;
}
.bazkator3{
    background-image: url("../assets/images/ocean.jpg");
    width: 180px;
    height: 55px;
    margin: 15px;
    padding: 10px;
    display: flex;
    align-items: center;
    color: white;
}
.poez2 {
    background-color: darkslategray;
    width: 560px;
    height: 30px;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 7px;
    color: white;
}
.palm2 {
    background-image: url("../assets/images/palm.png");
    background-size: 10px;
    width: 500px;
    height: 70px;
    background-repeat: no-repeat;
    margin: 10px;
}
.back{
    color: dimgray;
    display: flex;
    justify-content: center;
    margin: 10px;
    font-size: small;

}
.mecP{
    font-size: small;
    color: darkslategray;
    font-weight: bold;



}
.p{
    font-size: small;
    color: dimgray;
    font-weight: lighter;
}
.poqrP{
    color: darkslategray;
    display: flex;
    font-size: x-small;
}