body{
    background-image: url("../assets/images/europe.jpg");
    width: 100%;
    background-size: cover;
}
.divan{
    background-position:center;
    margin:50px;
    display: flex;
    width: 700px;
    gap: 30px;

}
.divanPoqr{
    background-color: white;
    width: 200px;
    height: 300px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.ulik{
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.input{
    padding: 10px;
}
.divanMec{
    background-position:center;
    margin: 5px;
    text-align: center;
}

.divan2{
    background-color: dimgrey;
    margin:50px;
    width: 700px;
    height: 300px;
    display: flex;
    flex-direction: column;


}

.bazkator{
    background-image: url("../assets/images/europe.jpg");
    background-size: cover;
    width: 100px;
    height: 100px;
    margin:10px;
    text-align: center;
    display: flex;

}
.bazkator2{
    width: 400px;
    background-position:center;
    margin: 5px;

}

.divanik{
    display: flex;
    align-items: center;
    width: 1000px;
    height: 200px;
}
.read{
    background-color:green;
    float: left;
    color: white;

}