body{
    background-image: url("../assets/images/europe.jpg");
    width: 100%;
    background-size: cover;
}
.divan{
    background-position:center;
    margin:50px;
    display: flex;
    width: 700px;
    gap: 30px;

}
.divanPoqr{
    background-color: white;
    width: 200px;
    height: 300px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.ulik{
    margin: 30px;
    padding: 30px;

}
.divanMec{
    background-position:center;
    margin: 5px;
    text-align: center;
}

.divan2{
    background-color: dimgrey;
    background-position:center;
    margin:50px;
    width: 700px;
    height: 300px;
    display: flex;
    flex-direction: column;


}

.bazkator{
    background-color: white;
    width: 100px;
    height: 100px;
    text-align: center;
    justify-content: center;


}
.bazkator2{
    width: 400px;
    background-position:center;
    margin: 5px;
    text-align: center;

}