.table{
    background-image: url("../assets/images/ocean.jpg");
    background-size: 100%
}

.table2{
    background-image: url("../assets/images/ship.jpg");
    background-size: cover;
    width:800px;
    background-repeat: no-repeat ;
    background-position: center;
    text-align: right;
    font-weight: bolder;
    color:black;
}

.tr{
    background-color: saddlebrown;
    background-size: 100%;
    width:800px;

}
#link{
    color: white;
    text-decoration: none;


}

.td{
    width: 450px;
}

.table3{
    background-color:powderblue;
    width:800px;
    height: 200px;
}
.h3{
    text-align: center;
    color: black;
    text-shadow: 3px 3px 3px saddlebrown;
}

#link2{
    color: darkslategrey;

}

.td1{
    width:350px;
    text-align: center;
    color: lightcyan;
}

#link3{
    color:darkslategrey;
    text-align: right;
}
.p4{
    text-align:right;
}
.table4{
    background-size: 100%;
}
