.HomePageContent{
  height:calc(100vh - 103px);
  background: darkgray;
  overflow: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-family: "Comic Sans MS", serif;
  .itemsWrapper{
    display: flex;
    gap: 30px;
    margin-top: 40px;
  }
}