.componentP3{
  background-color: #ba7f9d;
  width: 700px;
  margin: auto;
  border-radius: 5px;
  .navak4{
    background-color: #edba88;
    width: 200px;
    display: flex;
    gap: 10px;
    border-radius: 3px;
    padding: 3px;
  }
  .n{
    border-right: 1px solid black;
    transition: 0.5s;
  }
  .n:hover{
    color: #bd87aa;
  }
  .nn{
    transition: 0.5s;
  }
  .nn:hover{
    color: #bd87aa;
  }
}

.P3{
  background: #e8bcd8;
  display: flex;
  gap: 10px;
  margin: auto;
  width: 700px;
  border-radius: 5px;
  .itemsWrapper{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 30px;
  }
}

.comp{
  display: flex;
  gap: 10px;
  .katu{
    display: flex;
    flex-direction: column;
    gap: 20px;
    .katvik{
      display: flex;
    }
  }
}

.tak{
  background-color: rgba(218, 142, 74, 0.53);
  width: 350px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  .karmir{
    color: #6e4257;
    font-size: 20px;
    border-bottom: 1px solid black;
    transition: 0.5s;
  }
  .karmir:hover{
    color: #ffdae2;
  }
  .spitak{
    color: #edba88;
    border-bottom: 1px solid black;
    width: 350px;
    transition: 0.5s;
  }
  .spitak:hover{
    color: #ffd1d9;
  }
}
