body{
    background-image: url(../assets/images/wow.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;

}

.lesson11{
    width: 100vw;
    height: 100vh;

}
.divan{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: calc(100vh - 73px);
}

.travel{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:20px 600px;
    width: 700px;
    font-size: 40px;
    font-family: "Comic Sans MS";
    color: #ffffff;

}

.navak{
    background-color: darkblue;
    display: flex;
    align-items: center;
}

.divik{
    border-right: 1px solid #2a6bac;
    padding: 20px;
    display: flex;
    align-items: center;
}

.contact{
    border-right: 1px solid #2a6bac;
    padding: 14px;
    width: 250px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contact:hover{
    background-color: #2a6bac;
}

.divik:hover{
    background-color: #2a6bac;

}

.link{
    text-decoration: none;
    color: #bbd0ff;
    display: flex;
    text-align: center;
}

.link:hover{
    color: darkblue;
}

.social{
    display: flex;
    gap: 10px;
}

.fb{
    background-image: url(../assets/images/photo_5357565269461036960_y.jpg);
    background-repeat: no-repeat;
    border-radius: 100%;
    width: 30px;
    height: 30px;
    background-size: 307px;
    background-position: -46px -93px;
    transition: 0.5s;
}

.fb:hover{
    background-position:-47px -45px
}

.insta{
    background-image: url(../assets/images/photo_5357565269461036960_y.jpg);
    background-repeat: no-repeat;
    border-radius: 100%;
    width: 30px;
    height: 30px;
    background-size: 307px;
    background-position: -185px -93px;
    transition: 0.7s;
}

.insta:hover{
    background-position: -186px -45px;
}

.twitter{
    background-image: url(../assets/images/photo_5357565269461036960_y.jpg);
    background-repeat: no-repeat;
    border-radius: 100%;
    width: 30px;
    height: 30px;
    background-size: 307px;
    background-position: -92px -93px;
    transition: 0.7s;
}

.twitter:hover{
    background-position: -93px -45px;
}

.divan2{
    display: flex;
    gap: 5px;
    margin: 10px;
    align-items: center;

}

.ator{
    display: flex;
    flex-direction: column;

}
.photo{
    background-image: url(../assets/images/stars.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 161px;
    height: 130px;

}
.photo2{
    background-image: url(../assets/images/blue.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 161px;
    height: 130px;
}

.photo3{
    background-image: url(../assets/images/mauntain.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 161px;
    height: 130px;
}

.photo4{
    background-image: url(../assets/images/city.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 161px;
    height: 130px;
}

.text{
    background-color: rgba(255, 255, 255, 0.45);
    width: 161px;
    height: 200px;
}
.text2{
    font-family: "Comic Sans MS";
    color: darkblue;
    padding: 3px;
    border-bottom: 1px solid #2a6bac;
}

.text3{
    font-size: 13px;
    padding: 10px;
    color: dimgrey;
}

.price{
    font-size: 20px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    text-align: center ;
}

.input{
    background-color: darkblue;
    width: 60px;
    height: 30px;
    color: white;
}

.input:hover{
    background-color:grey;
    color: darkblue;
}

.header{
    background-color:darkblue;
    display: flex;
    justify-content:space-between;
    color: white;
    padding: 10px 130px 10px 130px;
    border-bottom: 1px solid white;
}
.header:hover{
    background-color: #6cc3ea;
}

.footer{
    background-color:darkblue;
    display: flex;
    justify-content:center;
    align-items: center;
    color: white;
    font-size: 10px;
    padding: 10px 130px 10px 130px;
    border-top: 1px solid white;
}