.box{
    background-color: dimgrey;
    width: 111px;
    height: 111px;
    margin: auto;
    text-align: center;
    color: white;
}
#link{
    color: white;
}

.nerqeviHark{
    flex-direction: column
}
.train{
    display: flex;
    gap: 3px;
}

.p{
    background-color: darkmagenta;
    width: 150px;
    height: 30px;
    text-align: center;
    color: white;
    font-style: italic;
    text-decoration:underline;
}