.table{
    background: purple;
    width: 100%;

}
.table1{
    background-image: url("../assets/images/europe.jpg");
    background-repeat: no-repeat;
    width: 400px;
    height: 200px;
}

.table2{
    background-color:plum;
    width: 700px;
    height: 200px;
    text-align: center;
    color: olive;
}
.color {
    color: white;
    text-align: center;
}

.table3{
    background-color: skyblue;
    width: 500px;
    height: 300px;
}
.sticker1{
    background-image: url("../assets/images/heart.jpg");
    background-size: 170px;
    width:300px;
    height:200px;
    background-repeat: repeat-x;

}
.sticker2{
    background-image: url("../assets/images/heart.jpg");
    width: 50%;
    background-size: 70px;
    background-position: bottom right;
    background-repeat: no-repeat;
}
.sticker3{
    background-image: url("../assets/images/heart.jpg");
    background-size: 70px;
    background-position: bottom left;
    background-repeat: no-repeat;
}
#lorem{
    text-align: left;
    vertical-align: top;
    color: white;
}
#lorem1{
    text-align:right;
    vertical-align: top;
    color: white;
}

#heart{
    background-image: url("../assets/images/heart.jpg");
    background-size: 70px;
    background-position: top right;
    background-repeat: no-repeat;
}