 .cardss3{
   display: flex;
   flex-direction: column;
   gap: 10px;
   width: 150px;
   padding: 10px;
   img{
     width: 110px;
     height: 110px;
     object-fit: cover;
   }
   .child{
     display: flex;
   }
 }